<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Ruta absoluta para el CSS -->
    <title>NovaSkills</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="navbar">
        <div class="container navbar-content">
            <a href="/" class="navbar-brand">NovaSkills</a> <!-- Ruta absoluta -->
            <ul class="navbar-nav">
                <li id="mskills">
                  <button onclick="location.href='/templates/businessSkills.html'">Business Skills</button> <!-- Ruta absoluta -->
                </li>
                <li id="mservices">
                    <button onclick="location.href='/templates/businessServices.html'">Business Services</button> <!-- Ruta absoluta -->
                </li>
                <li id="mabout">
                    <button onclick="location.href='/templates/about.html'">About</button> <!-- Ruta absoluta -->
                </li>
                <li>
                    <button onclick="location.href='/templates/contact.html'">Contact</button> <!-- Ruta absoluta -->
                </li>
            </ul>
        </div>
    </nav>

    <section id="contact_me">
        <div id="contact" class="contenedor">
            <h1 class="contactame">Contact Us</h1>
            <form action="mailto:tuMail@vedruna.es" method="get" class="mt-2 mx-auto">
                <fieldset class="form-row reset p-4 align-items-center border border-primary">
                    <legend class="reset text-light border border-primary px-2 py-1">Contact us</legend>

                    <div class="form-group row g-3 mt-1 mx-auto">
                        <label for="subject" class="col-sm-2 col-form-label text-primary">Subject:</label>
                        <div class="col-sm-10">
                            <input type="text" id="subject" class="form-control text-info" name="subject" required />
                        </div>
                    </div>

                    <div class="form-group row g-3 mt-1 mx-auto">
                        <label for="cc" class="col-sm-2 col-form-label text-primary">CC:</label>
                        <div class="col input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="email" id="cc" class="form-control text-info" name="cc"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                        </div>
                    </div>

                    <div class="row g-3 mt-2 mx-auto">
                        <label for="body" class="form-label text-primary">Message body: </label> <br />
                        <textarea id="body" class="form-control text-info mt-2 w-10" name="body"
                            placeholder="Enter your message here..." rows="15" cols="40" required></textarea>
                    </div>

                    <div class="row g-3 mt-2 w-25 mx-auto">
                        <input id="sendBttn" class="btn btn-primary btn-lg" type="submit" value="Send" />
                    </div>
                </fieldset>
            </form>
        </div>
    </section>

</body>
</html>
